<c-row>
  <c-col xs="12">
    <c-card>
      <c-card-header>
        <strong>Herramientas de Desarrollo</strong>
      </c-card-header>
      <c-card-body>
        <ul class="list-group">
          @for (f of features; track trackByFeature($index, f)) {
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              <span>{{ f.name }}</span>
              <button cButton color="dark" (click)="toggle(f)">
                {{ f.enabled ? 'Desactivar' : 'Activar' }}
              </button>
            </li>
          }
        </ul>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
