<c-pagination [align]="align" aria-label="Paginación" size="sm">
  <li cPageItem [class.disabled]="currentPage === 0">
    <a
      cPageLink
      (click)="currentPage !== 0 && cambiarPagina(-1)"
      aria-label="Anterior"
      [attr.aria-disabled]="currentPage === 0 ? true : null"
      [style.cursor]="currentPage === 0 ? 'default' : 'pointer'"
    >
      <span aria-hidden="true">{{ 'AUTO.LAQUO' | translate }}</span>
    </a>
  </li>
  @for (pageNumber of paginasVisibles; track pageNumber) {
    <li cPageItem [active]="pageNumber === currentPage">
      <a cPageLink (click)="pageChange.emit(pageNumber)">
        {{ pageNumber + 1 }}
      </a>
    </li>
  }
  <li cPageItem [class.disabled]="currentPage >= totalPages - 1">
    <a
      cPageLink
      (click)="currentPage < totalPages - 1 && cambiarPagina(1)"
      aria-label="Siguiente"
      [attr.aria-disabled]="currentPage >= totalPages - 1 ? true : null"
      [style.cursor]="currentPage >= totalPages - 1 ? 'default' : 'pointer'"
    >
      <span aria-hidden="true">{{ 'AUTO.RAQUO' | translate }}</span>
    </a>
  </li>
</c-pagination>
