<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <c-row>
    <c-col md="6" class="mb-3">
      <label cLabel for="nombre">{{ 'AUTO.NOMBRE' | translate }}</label>
      <c-input-group>
        <span cInputGroupText><svg cIcon name="cilUser"></svg></span>
        <input
          cFormControl
          id="nombre"
          formControlName="nombre"
          [class.is-valid]="form.get('nombre')?.touched && form.get('nombre')?.valid"
          [class.is-invalid]="form.get('nombre')?.touched && form.get('nombre')?.invalid"
        />
        <c-form-feedback [valid]="false">{{
          'AUTO.EL_NOMBRE_ES_REQUERIDO' | translate
        }}</c-form-feedback>
      </c-input-group>
    </c-col>
    <c-col md="6" class="mb-3">
      <label cLabel for="apellido">{{ 'AUTO.APELLIDO' | translate }}</label>
      <c-input-group>
        <span cInputGroupText><svg cIcon name="cilUser"></svg></span>
        <input
          cFormControl
          id="apellido"
          formControlName="apellido"
          [class.is-valid]="form.get('apellido')?.touched && form.get('apellido')?.valid"
          [class.is-invalid]="form.get('apellido')?.touched && form.get('apellido')?.invalid"
        />
        <c-form-feedback [valid]="false">{{
          'AUTO.EL_APELLIDO_ES_REQUERIDO' | translate
        }}</c-form-feedback>
      </c-input-group>
    </c-col>
  </c-row>

  <c-row>
    <c-col md="6" class="mb-3">
      <label cLabel for="email">{{ 'AUTO.EMAIL' | translate }}</label>
      <c-input-group>
        <span cInputGroupText><svg cIcon name="cilEnvelopeClosed"></svg></span>
        <input
          cFormControl
          id="email"
          type="email"
          formControlName="email"
          [class.is-valid]="form.get('email')?.touched && form.get('email')?.valid"
          [class.is-invalid]="form.get('email')?.touched && form.get('email')?.invalid"
        />
        <c-form-feedback [valid]="false">{{ 'AUTO.EMAIL_INV_LIDO' | translate }}</c-form-feedback>
      </c-input-group>
    </c-col>
    <c-col md="6" class="mb-3">
      <label cLabel for="telefono">{{ 'AUTO.TEL_FONO' | translate }}</label>
      <c-input-group>
        <span cInputGroupText><svg cIcon name="cilPhone"></svg></span>
        <input
          cFormControl
          id="telefono"
          formControlName="telefono"
          [class.is-valid]="form.get('telefono')?.touched && form.get('telefono')?.valid"
          [class.is-invalid]="form.get('telefono')?.touched && form.get('telefono')?.invalid"
        />
        <c-form-feedback [valid]="false">{{
          'AUTO.SOLO_N_MEROS_PERMITIDOS' | translate
        }}</c-form-feedback>
      </c-input-group>
    </c-col>
  </c-row>

  <div class="mb-3">
    <label cLabel for="website">{{ 'AUTO.SITIO_WEB' | translate }}</label>
    <c-input-group>
      <span cInputGroupText><svg cIcon name="cilGlobeAlt"></svg></span>
      <input cFormControl id="website" formControlName="website" />
    </c-input-group>
  </div>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button cButton color="primary" type="submit">{{ 'AUTO.GUARDAR_CAMBIOS' | translate }}</button>
  </div>
</form>
