<c-card>
  <c-card-header class="d-flex align-items-center" #entradasInicio>
    <c-col [sm]="6">
      <h6 cCardTitle>Listado de entradas</h6>
    </c-col>
    <c-col [sm]="6">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button cButton color="light" size="sm">
          <svg cIcon name="cilPrint" style="padding-right: 2px" size="sm" title="Imprimir"></svg>
          Imprimir
        </button>
        <button cButton color="warning" size="sm">
          <svg cIcon name="cilWarning" style="padding-right: 2px" size="sm" title="Pendientes de revisión"></svg>
          Sin revisar
        </button>
      </div>
    </c-col>
  </c-card-header>
  <c-card-body>
    <div class="d-flex justify-content-between align-items-end">
      <h5 cCardTitle>Listado de entradas</h5>
      <div class="hstack gap-3">
        <button cButton color="success" size="sm" routerLink="crear">
          <svg cIcon name="cilPencil" style="padding-right: 2px" size="sm" title="Crear nueva Entrada"></svg>
          Crear nueva Entrada
        </button>
      </div>
    </div>
    <hr>
    <!--<c-card *ngIf="listaEntradas.length <= 0">
      <c-card-body>
        <div>
          <h5 cCardTitle>No hay entradas</h5>
          <p cCardText>No se han encontrado registros en el sistema...</p>
          <button cButton href="#" color="primary" (click)="refrescarPagina()">Refrescar</button>
        </div>
      </c-card-body>
      <hr>
    </c-card>-->
    <c-pagination align="end" aria-label="Paginación de entradas" size="sm" *ngIf="listaEntradas.length > 0">
      <li cPageItem [disabled]="currentPage === 0">
        <a cPageLink (click)="cambiarPagina(-1)" aria-label="Anterior"><span aria-hidden="true">&laquo;</span></a>
      </li>
      <li cPageItem [active]="pageNumber === currentPage" *ngFor="let pageNumber of paginasVisibles">
        <a cPageLink (click)="obtenerListaEntradas(pageNumber)">{{pageNumber + 1}}</a>
      </li>
      <li cPageItem [disabled]="!hasMore">
        <a cPageLink (click)="cambiarPagina(1)" aria-label="Posterior"><span aria-hidden="true">&raquo;</span></a>
      </li>
    </c-pagination>
    <table responsive hover cAlign="top" cTable *ngIf="listaEntradas.length >= 0">
      <thead cTableColor="dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Título</th>
          <th scope="col">Autor</th>
          <th scope="col">Fecha Publicación</th>
          <th class="w-25" scope="col">Resumen</th>
          <th class="w-10" scope="col">Categorias</th>
        </tr>
      </thead>
      <tbody *ngFor="let entr of listaEntradas">
        <tr [routerLink]="['/admin/control/entradas', entr.idEntrada]" style="cursor: pointer" cAlign="middle">
          <td scope="row">{{entr.idEntrada}}</td>
          <td>{{entr.titulo}}</td>
          <td>{{entr.username}}</td>
          <td>{{checkFechaPublicacion(entr.fechaPublicacion)}}</td>
          <td>{{entr.resumen}}</td>
          <td>{{entr.categoriasConComas}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="listaEntradas.length <= 0" cAlign="middle">
        <tr style="cursor: pointer">
          <td colSpan="6">No se han encontrado registros en el sistema...</td>
        </tr>
      </tbody>
    </table>
    <c-pagination aria-label="Paginación de entradas" size="sm" *ngIf="listaEntradas.length > 0">
      <li cPageItem [disabled]="currentPage === 0">
        <a cPageLink (click)="cambiarPagina(-1)" aria-label="Anterior"><span aria-hidden="true">&laquo;</span></a>
      </li>
      <li cPageItem [active]="pageNumber === currentPage" *ngFor="let pageNumber of paginasVisibles">
        <a cPageLink (click)="obtenerListaEntradas(pageNumber)">{{pageNumber + 1}}</a>
      </li>
      <li cPageItem [disabled]="!hasMore">
        <a cPageLink (click)="cambiarPagina(1)" aria-label="Posterior"><span aria-hidden="true">&raquo;</span></a>
      </li>
    </c-pagination>
  </c-card-body>
</c-card>