<c-card>
  <c-card-header class="d-flex align-items-center" #entradasInicio>
    <c-col [sm]="6">
      <h6 cCardTitle>Listado de entradas</h6>
    </c-col>
    <c-col [sm]="6">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button cButton color="light" size="sm">
          <svg cIcon name="cilPrint" style="padding-right: 2px" size="sm" title="Imprimir"></svg>
          Imprimir
        </button>
        <button cButton color="warning" size="sm">
          <svg cIcon name="cilWarning" style="padding-right: 2px" size="sm" title="Pendientes de revisión"></svg>
          Sin revisar
        </button>
      </div>
    </c-col>
  </c-card-header>
  <c-card-body>
    <div class="d-flex justify-content-between align-items-end">
      <h5 cCardTitle>Listado de entradas</h5>
      <div class="hstack gap-3">
        <button cButton color="success" size="sm" routerLink="crear">
          <svg cIcon name="cilPencil" style="padding-right: 2px" size="sm" title="Crear nueva Entrada"></svg>
          Crear nueva Entrada
        </button>
      </div>
    </div>
    <hr>
    <table responsive hover cAlign="top" cTable *ngIf="listaEntradas.length >= 0">
      <thead cTableColor="dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Título</th>
          <th scope="col">Autor</th>
          <th scope="col">Publicación</th>
          <th class="w-10" scope="col">Categorias</th>
          <th class="col">Acción</th>
        </tr>
      </thead>
      <tbody *ngFor="let entr of listaEntradas">
        <tr style="cursor: pointer" cAlign="middle" 
            [cTableColor]="entr.publicada ? 'success' : 'warning'">
          <td scope="row" [routerLink]="['/admin/control/entradas', entr.idEntrada]">{{entr.idEntrada}}</td>
          <td>{{commonFuncService.acortarTexto(entr.titulo)}}</td>
          <td>{{entr.username}}</td>
          <td>{{checkFechaPublicacion(entr.fechaPublicacion)}}</td>
          <td>{{entr.categoriasConComas}}</td>
          <td>
            <button cButton color="info" size="sm" (click)="actualizarEntrada(entr.idEntrada)">
              <svg cIcon name="cilPen" size="sm" title="Editar"></svg>
            </button>
            <button cButton color="danger" size="sm" (click)="borrarEntrada(entr.idEntrada)" [cModalToggle]="staticBackdropModal.id">
              <svg cIcon name="cilTrash" size="sm" title="Borrar"></svg>
            </button>
          </td>          
        </tr>
      </tbody>
      <tbody *ngIf="listaEntradas.length <= 0" cAlign="middle">
        <tr style="cursor: pointer">
          <td colSpan="6">No se han encontrado registros en el sistema...</td>
        </tr>
      </tbody>
    </table>
    <app-op-pagination
      [align]="'center'"
      *ngIf="listaEntradas.length > 0"
      [totalPages]="totalPages"
      [currentPage]="currentPage"
      (pageChange)="obtenerListaEntradas($event)">
    </app-op-pagination>

    <c-modal #staticBackdropModal backdrop="static" id="staticBackdropModal" [visible]="visible" (visibleChange)="visibleModal($event)">
      <c-modal-header>
        <h5 cModalTitle>¿Quiere borrar la entrada?</h5>
        <button (click)="toggleModal()" cButtonClose></button>
      </c-modal-header>
      <c-modal-body>
        Título: {{entradaABorrar?.titulo}}
      </c-modal-body>
      <c-modal-footer>
        <button (click)="toggleModal()" cButton color="secondary">
          No
        </button>
        <button cButton color="primary" (click)="confirmarBorrado()">
          Sí
        </button>
      </c-modal-footer>
    </c-modal>

    <c-toaster placement="top-end" position="fixed">
      <c-toast #toast="cToast" [autohide]="false" [visible]="toastVisible" class="align-items-center text-white border-0" color="primary">
        <div class="d-flex">
          <c-toast-body>
            <span>La entrada se ha borrado correctamente.</span>
          </c-toast-body>
          <button aria-label="close" cButtonClose white class="me-2 m-auto" (click)="toastVisible=false"></button>
        </div>
      </c-toast>
    </c-toaster>

  </c-card-body>
  
</c-card>