<c-modal [visible]="visible" (visibleChange)="handleVisibleChange($event)" size="lg" backdrop="static" alignment="center">
  <c-modal-header>
    <h5 cModalTitle>Editar Categoría</h5>
    <button (click)="cerrarModal()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <app-categoria-form
      [categoria]="categoria"
      [listaCategorias]="listaCategorias"
      (submitCategoria)="guardar($event)"
      (onReset)="cerrarModal()"
    ></app-categoria-form>
  </c-modal-body>
</c-modal>
