<!-- nav-bar-public.component.html -->
<c-header [ngClass]="{'navbar-fixed': true, 'navbar-shrink': isShrink}">
  <c-container fluid>
    <c-header-brand
      (click)="navigateToRoute('/home')"
      style="cursor: pointer;"
      class="brand-large">
      Openpanel
    </c-header-brand>
    <c-header-nav class="ms-auto">
      <!-- Enlace Admin -->
      @if (isLoggedIn) {
        <c-nav-item>
          <a cNavLink (click)="navigateToRoute('/admin')" style="cursor: pointer;">Admin</a>
        </c-nav-item>
      }

      <!-- Secciones de la página principal -->
      <c-nav-item>
        <a cNavLink id="home" (click)="navigateToRoute('/home')" style="cursor: pointer;">Inicio</a>
      </c-nav-item>
      <c-nav-item>
        <a cNavLink id="about" (click)="navigateToRoute('/about')" style="cursor: pointer;">Acerca de</a>
      </c-nav-item>
      <c-nav-item>
        <a cNavLink id="contact" (click)="navigateToRoute('/contact')" style="cursor: pointer;">Contacto</a>
      </c-nav-item>

      <!-- Login/Logout -->
      @if (!isLoggedIn) {
        <c-nav-item>
          <a cNavLink (click)="navigateToRoute('/login')" style="cursor: pointer;">Login</a>
        </c-nav-item>
      }
      @if (isLoggedIn) {
        <c-nav-item>
          <a cNavLink
            (click)="logout()"
            style="cursor: pointer;"
            [class.disabled]="isLoadingLogout">
            @if (!isLoadingLogout) {
              <span>LogOut</span>
            }
            @if (isLoadingLogout) {
              <span>
                Cerrando...
                <span class="spinner-border spinner-border-sm" role="status"></span>
              </span>
            }
          </a>
        </c-nav-item>
      }
    </c-header-nav>
  </c-container>
</c-header>
