<div class="wrapper d-flex flex-column min-vh-100 bg-body text-body" [attr.data-bs-theme]="currentTheme">
  <app-op-loader></app-op-loader>
  <app-nav-bar-public class="fixed-top shadow-sm w-100 bg-body" style="z-index: 1030;" role="navigation"></app-nav-bar-public>
  
  <main class="body flex-grow-1 py-5" role="main">
    <c-container breakpoint="lg">
      <router-outlet></router-outlet>
    </c-container>
  </main>

  <app-footer-public role="contentinfo" class="mt-auto"></app-footer-public>
</div>
