<!-- Main Content-->

<main class="container">

  <c-card class="text-center mb-4">
    <c-card-header>
      <h5>Entradas</h5>
    </c-card-header>
    <c-card-body>


      <c-spinner *ngIf="(loading$ | async )" variant="grow"></c-spinner>
      <div *ngIf="!noHayEntradas">
        <h5 cCardTitle>No hay entradas</h5>
        <p cCardText>
          Este blog no tiene entradas, contacta con los vagos del Blog para que publiquen algo..
        </p>
        <button cButton href="#about" color="primary" (click)="refrescarPagina()">Refrescar</button>
      </div>


      <span *ngFor="let entrada of entradas" class="mb-3 text-start">

        <c-row [gutter]="4" [md]="1" [xs]="1" class="mb-4">
          <c-col>
            <c-card>
              <img src="../../../../assets/img/brand/coreui-base.svg">
              <c-card-body>
                <h5 cCardTitle>{{ entrada.titulo }}</h5>
                <p cCardText>
                  {{ entrada.resumen }}
                </p>
                <button cButton color="primary">Continuar leyendo...</button>
              </c-card-body>
              <c-card-footer>
                <small class="text-medium-emphasis">Fecha publicación: {{ entrada.fechaPublicacion }}</small>
                <br />
                <small class="text-medium-emphasis" *ngFor="let categoria of categorias">Categorias: <a cCardLink
                    [routerLink]>{{ categoria.nombre }}</a></small>
              </c-card-footer>
            </c-card>
          </c-col>
        </c-row>

        <c-row [gutter]="4" class="mb-3 text-start" [md]="2" [xs]="1">
          <c-col>
            <c-card>
              <img cCardImg="top" src="../../../../assets/img/brand/coreui-base.svg">
              <c-card-body>

                <h5 cCardTitle>{{ entrada.titulo }}</h5>
                <p cCardText>
                  {{ entrada.resumen }}
                </p>
                <button cButton color="primary">Continuar leyendo...</button>
              </c-card-body>
              <c-card-footer>
                <small class="text-medium-emphasis">Fecha publicación: {{ entrada.fechaPublicacion }}</small>
                <br />
                <small class="text-medium-emphasis" *ngFor="let categoria of categorias">Categorias: <a cCardLink
                    [routerLink]>{{ categoria.nombre }}</a></small>
              </c-card-footer>
            </c-card>
          </c-col>
        </c-row>
      </span>


      <!--Entradas-->
      <div *ngFor="let entrada of entradas">

        <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
          <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">{{ entrada.titulo }}</h1>
            <p class="lead my-3">{{ entrada.resumen }}</p>
            <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continuar leyendo...</a></p>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary" *ngFor="let categoria of categorias">{{
                  categoria.nombre
                  }}</strong>
                <h3 class="mb-0">{{ entrada.titulo }}</h3>
                <div class="mb-1 text-muted">{{ entrada.fechaPublicacion }}</div>
                <p class="card-text mb-auto">{{ entrada.resumen }}</p>
                <a href="#" class="stretched-link">Continuar leyendo...</a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
                  aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                    dy=".3em">Thumbnail</text>
                </svg>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!--./fin entradas-->

    </c-card-body>
    <c-card-footer class="text-medium-emphasis">
      2 days ago
    </c-card-footer>
  </c-card>

</main>