:host {
  ::ng-deep c-sidebar {
    display: flex;
    flex-direction: column;
  }

  ::ng-deep c-sidebar > ng-scrollbar {
    flex: 1 1 auto;
    min-height: 0;
  }

  ::ng-deep c-sidebar > ng-scrollbar .ng-scrollbar {
    height: 100%;
  }
}
