/*.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);  // Mayor opacidad
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner-container {
  text-align: center;
  z-index: 1001;  // Asegura que el spinner esté por encima del overlay
}*/