<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <c-row>
    <c-col md="6" class="mb-3">
      <label cLabel for="nombre">Nombre</label>
      <input
        cFormControl
        id="nombre"
        formControlName="nombre"
        [class.is-valid]="form.get('nombre')?.touched && form.get('nombre')?.valid"
        [class.is-invalid]="form.get('nombre')?.touched && form.get('nombre')?.invalid"
      />
      <c-form-feedback [valid]="false">El nombre es requerido.</c-form-feedback>
    </c-col>
    <c-col md="6" class="mb-3">
      <label cLabel for="apellido">Apellido</label>
      <input
        cFormControl
        id="apellido"
        formControlName="apellido"
        [class.is-valid]="form.get('apellido')?.touched && form.get('apellido')?.valid"
        [class.is-invalid]="form.get('apellido')?.touched && form.get('apellido')?.invalid"
      />
      <c-form-feedback [valid]="false">El apellido es requerido.</c-form-feedback>
    </c-col>
  </c-row>

  <c-row>
    <c-col md="6" class="mb-3">
      <label cLabel for="email">Email</label>
      <input
        cFormControl
        id="email"
        type="email"
        formControlName="email"
        [class.is-valid]="form.get('email')?.touched && form.get('email')?.valid"
        [class.is-invalid]="form.get('email')?.touched && form.get('email')?.invalid"
      />
      <c-form-feedback [valid]="false">Email inválido.</c-form-feedback>
    </c-col>
    <c-col md="6" class="mb-3">
      <label cLabel for="telefono">Teléfono</label>
      <input
        cFormControl
        id="telefono"
        formControlName="telefono"
        [class.is-valid]="form.get('telefono')?.touched && form.get('telefono')?.valid"
        [class.is-invalid]="form.get('telefono')?.touched && form.get('telefono')?.invalid"
      />
      <c-form-feedback [valid]="false">Solo números permitidos.</c-form-feedback>
    </c-col>
  </c-row>

  <div class="mb-3">
    <label cLabel for="website">Sitio Web</label>
    <input cFormControl id="website" formControlName="website" />
  </div>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button cButton color="primary" type="submit">Guardar Cambios</button>
  </div>
</form>
