<c-modal [visible]="visible" (visibleChange)="onClose()" class="confirmation-modal">
  <c-modal-header>
    <h5 cModalTitle [class]="'text-' + getHeaderColor()">
      @if (type === 'warning') {
        <c-icon name="cil-warning" class="me-2"></c-icon>
      }
      @if (type === 'danger') {
        <c-icon name="cil-warning" class="me-2"></c-icon>
      }
      @if (type === 'info') {
        <c-icon name="cil-info" class="me-2"></c-icon>
      }
      {{ title }}
    </h5>
  </c-modal-header>
  <c-modal-body>
    <p>{{ message }}</p>
  </c-modal-body>
  <c-modal-footer>
    <button cButton color="secondary" (click)="onCancel()">
      {{ cancelText }}
    </button>
    <button cButton [color]="getHeaderColor()" (click)="onConfirm()" class="ms-2">
      {{ confirmText }}
    </button>
  </c-modal-footer>
</c-modal>
