<app-entrada-form
  [form]="entradaForm"
  [tiposEntr]="tiposEntr"
  [estadosEntr]="estadosEntr"
  [categorias]="categorias"
  [entrada]="entrada"
  [modoLectura]="modoLectura"
  [submitted]="submitted"
  (submitForm)="onGuardar($event)"
  (editar)="onEditar()"
  (cancelar)="onCancelar()"
  (preview)="onPreviewEmit($event)"
>
</app-entrada-form>

<c-modal
  #modalXl
  id="modalXl"
  size="xl"
  backdrop="static"
  [visible]="modalPreviaVisible"
  (close)="onCerrarPreview()"
  scrollable
>
  <c-modal-header>
    <h5 cModalTitle>{{ 'AUTO.PREVIA_DE_LA_ENTRADA' | translate }}</h5>
  </c-modal-header>

  <c-modal-body>
    <app-previa-entrada
      [entrada]="entradaParaPrevia"
      [categoriasMeta]="categorias"
      [mostrarBotonesAccion]="false"
      (editar)="onEditarDesdePreview(); modalPreviaVisible = false"
      (cerrar)="onCerrarPreview()"
    >
    </app-previa-entrada>
  </c-modal-body>

  <c-modal-footer>
    <button cButton color="secondary" (click)="onCerrarPreview()">
      {{ 'AUTO.CERRAR' | translate }}
    </button>
    <button cButton color="primary" (click)="onPublicarDesdePreview()">
      <svg cIcon name="cilPaperPlane" class="me-1"></svg>
      Publicar
    </button>
  </c-modal-footer>
</c-modal>
