<div class="buscador-avanzado">
  <c-row class="g-2 align-items-end flex-column flex-md-row">
    <c-col xs="12" md="3">
      <select cSelect cFormControl [(ngModel)]="campoSeleccionado" (change)="actualizarOperacionesDisponibles()">
        <option *ngFor="let c of camposDisponibles" [value]="c.valor">{{ c.nombre }}</option>
      </select>
    </c-col>
    <c-col xs="12" md="3">
      <select cSelect cFormControl [(ngModel)]="operacionSeleccionada">
        <option *ngFor="let o of operacionesDisponibles" [value]="o.valor">{{ o.nombre }}</option>
      </select>
    </c-col>
    <c-col xs="12" md="4">
      <input type="text"
             cFormControl
             [placeholder]="placeholder"
             [(ngModel)]="valorBusqueda"
             (ngModelChange)="onValorChange($event)"
             (keyup.enter)="buscar()" />
    </c-col>
    <c-col xs="12" md="2" class="d-flex gap-1 justify-content-md-end mt-2 mt-md-0" *ngIf="debeMostrarBotonBusqueda() || showClearButton">
      <button *ngIf="debeMostrarBotonBusqueda()" cButton color="primary" (click)="buscar()">Buscar</button>
      <button *ngIf="showClearButton" cButton color="secondary" (click)="limpiar()">Limpiar</button>
    </c-col>
  </c-row>
</div>