.kpi-card {
  padding: 0.5rem;
  transition:
    color 0.3s ease,
    text-shadow 0.3s ease,
    transform 0.2s ease;

  &.cursor-pointer {
    cursor: pointer;

    &:hover {
      transform: translateY(-3px);

      ::ng-deep .card {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
      }
    }
  }

  ::ng-deep .text-body-secondary,
  ::ng-deep .text-muted,
  ::ng-deep small {
    color: inherit !important;
  }
}

.kpi-card h3 {
  font-weight: 600;
}
.kpi-card small {
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.02em;
}
