// Estilos adaptados del módulo de usuarios
.animated-fade {
  transition: opacity 0.3s;
  opacity: 1;
}

// Estilos de inputs al estilo usuario-form
.input-group-text {
  background-color: #f8f9fa; // bg-light
  border-right: 0;
}

input[cFormControl], textarea[cFormControl] {
  &:disabled, &[readonly] {
    background-color: #f8f9fa;
    opacity: 1;
  }
}
