<main class="container">
  <c-card class="text-center mb-4">
    <c-card-header>
      <h5>{{ 'PUBLIC.HOME.LATEST_ENTRIES' | translate }}</h5>
    </c-card-header>
    <c-card-body>
      @if (errorMsg) {
        <c-alert color="danger">{{ errorMsg | translate }}</c-alert>
      }
      @if (!hasEntries && !errorMsg && cargaFinalizada) {
        <div>
          <h5 cCardTitle>{{ 'PUBLIC.HOME.NO_ENTRIES' | translate }}</h5>
          <p cCardText>
            {{ 'PUBLIC.HOME.NO_ENTRIES_MESSAGE' | translate }}
          </p>
          <button cButton href="#about" color="primary" (click)="refrescarPagina()">
            {{ 'COMMON.REFRESH' | translate }}
          </button>
        </div>
      }
      @if (cargaFinalizada) {
        <div>
          @if (pagedEntradas.length > 0) {
            <div class="large-entry mb-4">
              <c-card>
                <img src="/assets/img/brand/coreui-base.svg" class="card-img-top" loading="lazy" />
                <c-card-body>
                  <h5 cCardTitle>{{ pagedEntradas[0]?.titulo }}</h5>
                  <p cCardText>{{ pagedEntradas[0]?.resumen }}</p>
                  <button cButton color="primary">{{ 'PUBLIC.HOME.READ_MORE' | translate }}</button>
                </c-card-body>
                <c-card-footer>
                  <small class="text-medium-emphasis">
                    {{ 'PUBLIC.HOME.PUBLISHED_DATE' | translate }}:
                    {{
                      pagedEntradas[0]?.fechaPublicacion
                        ? pagedEntradas[0]?.fechaPublicacion
                        : ('COMMON.UNPUBLISHED' | translate)
                    }}
                  </small>
                  @for (
                    categoria of pagedEntradas[0]?.categorias;
                    track trackByCategoria($index, categoria)
                  ) {
                    <div>
                      <small class="text-medium-emphasis"
                        >{{ 'MENU.CATEGORIES' | translate }}:
                        <a cCardLink [routerLink]>{{ categoria.nombre }}</a></small
                      >
                    </div>
                  }
                </c-card-footer>
              </c-card>
            </div>
          }
          <c-row>
            @for (entrada of pagedEntradas.slice(1); track trackByEntrada($index, entrada)) {
              <c-col [md]="4" class="mb-4">
                <c-card>
                  <img
                    src="/assets/img/brand/coreui-base.svg"
                    class="card-img-top"
                    loading="lazy"
                  />
                  <c-card-body>
                    <h5 cCardTitle>{{ entrada.titulo }}</h5>
                    <p cCardText>{{ entrada.resumen }}</p>
                    <button cButton color="primary">
                      {{ 'PUBLIC.HOME.READ_MORE' | translate }}
                    </button>
                  </c-card-body>
                  <c-card-footer>
                    <small class="text-medium-emphasis">
                      {{ 'PUBLIC.HOME.PUBLISHED_DATE' | translate }}:
                      {{
                        entrada.fechaPublicacion
                          ? entrada.fechaPublicacion
                          : ('COMMON.UNPUBLISHED' | translate)
                      }}
                    </small>
                    @for (
                      categoria of entrada.categorias;
                      track trackByCategoria($index, categoria)
                    ) {
                      <div>
                        <small class="text-medium-emphasis"
                          >{{ 'MENU.CATEGORIES' | translate }}:
                          <a cCardLink [routerLink]>{{ categoria.nombre }}</a></small
                        >
                      </div>
                    }
                  </c-card-footer>
                </c-card>
              </c-col>
            }
          </c-row>
        </div>
      }
      @if (entradas.length > 0) {
        <c-pagination aria-label="Paginación de entradas" size="sm">
          <li cPageItem [active]="page === 1">
            <a cPageLink (click)="onPageChange(page - 1)" [routerLink]
              ><span aria-hidden="true">{{ 'AUTO.LAQUO' | translate }}</span></a
            >
          </li>
          @for (p of getPages(); track p) {
            <li cPageItem [active]="p === page">
              <a cPageLink (click)="onPageChange(p)" [routerLink]>{{ p }}</a>
            </li>
          }
          <li cPageItem [active]="page === numberOfPages">
            <a cPageLink (click)="onPageChange(page + 1)" [routerLink]
              ><span aria-hidden="true">{{ 'AUTO.RAQUO' | translate }}</span></a
            >
          </li>
        </c-pagination>
      }
    </c-card-body>
    <c-card-footer class="text-medium-emphasis">{{
      'PUBLIC.HOME.LAST_UPDATED' | translate
    }}</c-card-footer>
  </c-card>
</main>
