.perfil-public {
  min-height: 70vh;
}

.hover-elevate {
  transition: all 0.2s ease-in-out;
  
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    border-color: var(--cui-primary) !important;
  }
}

